.modal {
  $comp: &;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1111;

  width: 100vw;

  display: none;
  align-items: center;
  justify-content: center;

  overflow: hidden;

  &.is-open {
    display: flex;
  }

  &[aria-hidden="false"] {
    #{$comp}__overlay {
      animation: fadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
    }
    #{$comp}__wrapper {
      animation: slideInRight .3s cubic-bezier(0, 0, .2, 1);

      &--response {
        animation: slideIn .3s cubic-bezier(0, 0, .2, 1);
      }
    }
  }
  &[aria-hidden="true"] {
    #{$comp}__overlay {
      animation: fadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
    }
    #{$comp}__wrapper {
      animation: slideOutRight .3s cubic-bezier(0, 0, .2, 1);

      &--response {
        animation: slideOut .3s cubic-bezier(0, 0, .2, 1);
      }
    }
  }

  &__overlay {
    width: 100%;
    height: 100%;

    background: rgba(#1B1B1B, 0.3);
    backdrop-filter: blur(10px);
  }

  &__layout {
    display: contents;
  }

  &__wrapper {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;

    width: rem(600px);
    @media #{media("<")} {
      width: rem(560px);
    }
    @media #{media("<", m)} {
      width: rem(320px);
    }
    background-color: #fff;

    &--response {
      padding: rem(104px) rem(32px);
      top: auto;
      right: auto;
      bottom: auto;

      width: rem(610px);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &--dealer {
      padding: rem(80px) rem(80px);
      top: auto;
      right: auto;
      bottom: auto;

      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: center;

      @media #{media("<", m)} {
        padding: rem(52px) rem(16px);
      }
    }
  }


  &__close {
    --size: #{rem(100px)};
    position: absolute;
    right: 100%;
    top: 0;
    @media #{media("<")} {
      --size: #{rem(40px)};
    }
    width: var(--size);
    height: var(--size);
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #000;
    cursor: pointer;
  }

  &__svg {
    --size: #{rem(48px)};
    @media #{media("<")} {
      --size: #{rem(16px)};
    }
    width: var(--size);
    height: var(--size);

    path {
      stroke: #fff;
    }
  }

  &__cross {
    position: absolute;
    top: rem(32px);
    right: rem(32px);
    z-index: 1;
    @media #{media("<")} {
      top: rem(16px);
      right: rem(16px);
    }
    display: flex;
    align-items: center;
    width: min-content;

    cursor: pointer;

    &--left {
      left: rem(32px);

      @media #{media("<")} {
        left: rem(16px);
      }
    }
  }
  &__cross-svg {
    --size: #{rem(40px)};
    @media #{media("<")} {
      --size: #{rem(32px)};
    }
    width: var(--size);
    height: var(--size);

    path {
      stroke: #000000;
    }

    &--outlined {
      border: 1px solid #e8e8e8;
    }
  }

  &__title {
    font-family: 'Foundry Monoline', sans-serif;
    text-transform: uppercase;
    font-style: italic;
    font-size: rem(40px);
    margin-bottom: rem(12px);
    text-align: center;

    &--mb {
      margin-bottom: rem(40px);

      @media #{media("<", m)} {
        margin-bottom: rem(20px);
      }
    }

    @media #{media("<", m)} {
      font-size: rem(20px);
    }
  }

  &__desc {
    font-family: 'Foundry Monoline', sans-serif;
    font-size: rem(20px);
    text-align: center;
    line-height: 1.4;

    &--mb {
      margin-bottom: rem(40px);
    }

    @media #{media("<", m)} {
      font-size: rem(14px);
      margin-bottom: rem(20px);
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;

  &__error {
    font-family: 'Foundry Monoline', sans-serif;
    font-size: rem(16px);
    line-height: 1.4;
    color: #DB2E27;
    text-align: center;

    @media #{media("<", m)} {
      font-size: rem(14px);
    }
  }
}

.input-block {
  padding: rem(20px) rem(20px);
  border: 1px solid #E0E0E0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #fafafa;

  @media #{media("<", m)} {
    padding: rem(13px) rem(12px);
  }


  &__form {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__label {
    font-family: 'Foundry Monoline', sans-serif;
    font-size: rem(16px);
    text-transform: uppercase;
    color: #9e9e9e;
    white-space: nowrap;

    top: rem(4px);
    left: rem(10px);
    pointer-events: none;
    transition: all 0.2s;
    position: absolute;

    span {
      color: #000000;
      margin-left: 4px;
    }

    @media #{media("<", m)} {
      font-size: rem(12px);
    }
  }


  &__label:has(+&__input:focus),
  &__label:has(+&__input:not(:placeholder-shown)) { // at filled input
    top: -9px;
    padding: 0 rem(3px);
    font-size: rem(13px);
    left: -3px;

    @media #{media("<", m)} {
      font-size: rem(8px);
    }
  }

  &__label + &__input:focus::placeholder {
    opacity: 1;
  }


  &__btn {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__input {
    border: none;
    outline: none;
    font-family: 'Foundry Monoline', sans-serif;
    font-size: rem(16px);
    line-height: 1.4;
    width: 100%;
    background-color: transparent;
    padding: rem(4px) 0;

    @media #{media("<", m)} {
      font-size: rem(12px);
    }
  }
}

.submit-btn {
  background-color: #1D3C85;
  outline: none;
  border: none;
  padding: 20px 0;
  font-family: 'Foundry Monoline', sans-serif;
  font-size: rem(16px);
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  transition: $transition;

  @media #{media("<", m)} {
    font-size: rem(14px);
  }

  &:hover {
    opacity: 0.7;
  }

  &--full-width {
    width: 100%;
  }
}

.forgot-password {
  text-align: center;
  font-family: 'Foundry Monoline', sans-serif;
  font-size: rem(16px);
  text-decoration: underline;
  line-height: 1.4;
  color: #1D3C85;
  transition: $transition;

  &:hover {
    opacity: 0.7;
  }

  @media #{media("<", m)} {
    font-size: rem(12px);
  }
}

.leadership-btn {
  outline: none;
  padding: rem(20px) 0;
  font-family: 'Foundry Monoline', sans-serif;
  font-size: rem(16px);
  cursor: pointer;
  background: #fff;
  text-transform: uppercase;
  border: 1px solid #E0E0E0;
  transition: $transition;

  &:hover {
    opacity: 0.7;
  }

  @media #{media("<", m)} {
    font-size: rem(14px);
  }
}

.resend-timer {
  font-family: 'Foundry Monoline', sans-serif;
  font-size: rem(16px);
  text-align: center;

  @media #{media("<", m)} {
    font-size: rem(12px);
  }
}

.resend {
  outline: none;
  margin: auto;
  white-space: nowrap;
  padding: rem(8px) rem(16px);
  font-family: 'Foundry Monoline', sans-serif;
  font-size: rem(14px);
  cursor: pointer;
  background: #fff;
  text-transform: uppercase;
  border: 1px solid #E0E0E0;
  width: min-content;
  display: flex;
  align-items: center;
  gap: rem(8px);
  transition: $transition;

  &:hover {
    opacity: 0.7;
  }

  @media #{media("<", m)} {
    font-size: rem(10px);
  }

  &__popover {
    width: rem(18px);
    height: rem(18px);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #E0E0E0;
    color: #DB2E27;
    transition: .3s;

    &:hover {
      background: #DB2E27;
      color: #fff;
      border-color: #DB2E27;
    }
  }
}

.policy {
  font-family: 'Foundry Monoline', sans-serif;
  font-size: rem(14px);
  color: #7F7F7F;
  line-height: 1.4;

  @media #{media("<", m)} {
    font-size: rem(10px);
  }
  &__link {
    color: #1D3C85;
    font-family: 'Foundry Monoline', sans-serif;
    font-size: rem(14px);
    line-height: 1.4;
    text-decoration: underline;

    @media #{media("<", m)} {
      font-size: rem(10px);
    }
  }
}

.success-img {
  margin-bottom: rem(40px);
  @media #{media("<", m)} {
    margin-bottom: rem(20px);
  }
}

// появление/исчезание оверлея
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

// появление/исчезание модалки через opacity
@keyframes slideIn {
  from {
    transform: translateY(15%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-10%);
    opacity: 0;
  }
}

// появление/исчезание модалки справа
@keyframes slideInRight {
  from {
    transform: translateX(110%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideOutRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(110%);
  }
}
