mixin footer-socials
  .footer-socials(class=attributes.class)
    a.footer-socials__link(href="/")
      +gray-vk.footer-socials__icon
    a.footer-socials__link(href="/")
      +gray-ok.footer-socials__icon
    a.footer-socials__link(href="/")
      +gray-yt.footer-socials__icon
    a.footer-socials__link(href="/")
      +gray-rutube.footer-socials__icon
