mixin reset
  svg(class=attributes.class xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 48 48' fill='none')
    path(d='M18.15 18.15L29.85 29.85' stroke='#A5B7B3' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
    path(d='M18.15 29.85L29.85 18.15' stroke='#A5B7B3' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
mixin tick
  svg(width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
    path(d='M20 7L14.6093 13.4688C12.4732 16.0322 11.4051 17.3139 10 17.3139C8.59488 17.3139 7.52681 16.0322 5.39067 13.4688L4 11.8' stroke='#62215B' stroke-width='2' stroke-linecap='round')
mixin arrow-bottom
  svg(width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg')
    path(d='M16 17L11 22M11 22L6 17M11 22L11 10C11 8.93913 11.4214 7.92172 12.1716 7.17157C12.9217 6.42143 13.9391 6 15 6L22 6' stroke='#5C5772' stroke-linecap='round' stroke-linejoin='round')
mixin reset-input
  svg(class=attributes.class width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg")
    path(d="M5.13864 5.63864L10 10.5M14.8614 15.3614L10 10.5M10 10.5L14.8614 5.63864M10 10.5L5.13864 15.3614" stroke="#7F7F7F" stroke-width="1.5")
mixin show-input
  svg(width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg")
    path(fill-rule="evenodd" clip-rule="evenodd" d="M10.0001 3.8332C12.2351 3.8332 14.3722 5.00545 16.3638 6.93147C17.0433 7.58855 17.658 8.29004 18.1991 8.99183C18.5257 9.41531 18.7575 9.74844 18.8844 9.9469L19.1668 10.3884L18.8844 10.8299C18.7575 11.0283 18.5257 11.3615 18.1991 11.785C17.658 12.4867 17.0433 13.1882 16.3638 13.8453C14.3722 15.7713 12.2351 16.9436 10.0001 16.9436C7.7652 16.9436 5.62809 15.7713 3.63645 13.8453C2.95699 13.1882 2.34229 12.4867 1.80116 11.785C1.47463 11.3615 1.24279 11.0283 1.11586 10.8299L0.833496 10.3884L1.11586 9.9469C1.24279 9.74844 1.47463 9.41531 1.80116 8.99183C2.34229 8.29004 2.95699 7.58855 3.63645 6.93147C5.62809 5.00545 7.7652 3.8332 10.0001 3.8332ZM16.9011 9.99221C16.4057 9.34967 15.8424 8.70684 15.2244 8.10921C13.509 6.45035 11.7248 5.47168 9.99991 5.47168C8.27501 5.47168 6.49082 6.45035 4.77545 8.10921C4.15746 8.70684 3.59416 9.34967 3.09872 9.99221C2.99171 10.131 2.89284 10.2634 2.80244 10.3881C2.89284 10.5128 2.99171 10.6452 3.09872 10.784C3.59416 11.4265 4.15746 12.0693 4.77545 12.667C6.49082 14.3258 8.27501 15.3045 9.99991 15.3045C11.7248 15.3045 13.509 14.3258 15.2244 12.667C15.8424 12.0693 16.4057 11.4265 16.9011 10.784C17.0081 10.6452 17.107 10.5128 17.1974 10.3881C17.107 10.2634 17.0081 10.131 16.9011 9.99221ZM6.72272 10.3883C6.72272 12.1985 8.19015 13.6659 10.0003 13.6659C11.8105 13.6659 13.2779 12.1985 13.2779 10.3883C13.2779 8.57815 11.8105 7.11072 10.0003 7.11072C8.19015 7.11072 6.72272 8.57815 6.72272 10.3883ZM11.6389 10.3883C11.6389 11.2934 10.9052 12.0271 10.0001 12.0271C9.09505 12.0271 8.36133 11.2934 8.36133 10.3883C8.36133 9.48319 9.09505 8.74947 10.0001 8.74947C10.9052 8.74947 11.6389 9.48319 11.6389 10.3883Z" fill="#242424")
mixin back
  svg(class=attributes.class width="20" height="20" viewBox="-5 -5 30 30" fill="none" xmlns="http://www.w3.org/2000/svg")
    path(d="M12.4 16.4L6.00002 9.99999L12.4 3.59999" stroke="#242424" stroke-width="1.5" stroke-linejoin="bevel")
mixin more
  svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
    path(d="M5 10C3.9 10 3 10.9 3 12C3 13.1 3.9 14 5 14C6.1 14 7 13.1 7 12C7 10.9 6.1 10 5 10Z" stroke="white" stroke-width="2")
    path(d="M19 10C17.9 10 17 10.9 17 12C17 13.1 17.9 14 19 14C20.1 14 21 13.1 21 12C21 10.9 20.1 10 19 10Z" stroke="white" stroke-width="2")
    path(d="M12 10C10.9 10 10 10.9 10 12C10 13.1 10.9 14 12 14C13.1 14 14 13.1 14 12C14 10.9 13.1 10 12 10Z" stroke="white" stroke-width="2")
mixin search
  svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
    path(d="M11.5 21C16.7467 21 21 16.7467 21 11.5C21 6.25329 16.7467 2 11.5 2C6.25329 2 2 6.25329 2 11.5C2 16.7467 6.25329 21 11.5 21Z" stroke="#364A46" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
    path(d="M22 22L20 20" stroke="#364A46" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
mixin burger
  svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
    path(d="M5 5.25C4.58579 5.25 4.25 5.58579 4.25 6C4.25 6.41421 4.58579 6.75 5 6.75H19C19.4142 6.75 19.75 6.41421 19.75 6C19.75 5.58579 19.4142 5.25 19 5.25H5Z" fill="white")
    path(d="M5 11.25C4.58579 11.25 4.25 11.5858 4.25 12C4.25 12.4142 4.58579 12.75 5 12.75H19C19.4142 12.75 19.75 12.4142 19.75 12C19.75 11.5858 19.4142 11.25 19 11.25H5Z" fill="white")
    path(d="M5 17.25C4.58579 17.25 4.25 17.5858 4.25 18C4.25 18.4142 4.58579 18.75 5 18.75H19C19.4142 18.75 19.75 18.4142 19.75 18C19.75 17.5858 19.4142 17.25 19 17.25H5Z" fill="white")
mixin phone
  svg(width="24" height="24" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg")
    path(d="M14.6466 12.22C14.6466 12.46 14.5933 12.7067 14.4799 12.9467C14.3666 13.1867 14.2199 13.4134 14.0266 13.6267C13.6999 13.9867 13.3399 14.2467 12.9333 14.4134C12.5333 14.58 12.0999 14.6667 11.6333 14.6667C10.9533 14.6667 10.2266 14.5067 9.45992 14.18C8.69325 13.8534 7.92658 13.4134 7.16658 12.86C6.39992 12.3 5.67325 11.68 4.97992 10.9934C4.29325 10.3 3.67325 9.57337 3.11992 8.81337C2.57325 8.05337 2.13325 7.29337 1.81325 6.54004C1.49325 5.78004 1.33325 5.05337 1.33325 4.36004C1.33325 3.90671 1.41325 3.47337 1.57325 3.07337C1.73325 2.66671 1.98659 2.29337 2.33992 1.96004C2.76659 1.54004 3.23325 1.33337 3.72659 1.33337C3.91325 1.33337 4.09992 1.37337 4.26659 1.45337C4.43992 1.53337 4.59325 1.65337 4.71325 1.82671L6.25992 4.00671C6.37992 4.17337 6.46658 4.32671 6.52658 4.47337C6.58658 4.61337 6.61992 4.75337 6.61992 4.88004C6.61992 5.04004 6.57325 5.20004 6.47992 5.35337C6.39325 5.50671 6.26658 5.66671 6.10658 5.82671L5.59992 6.35337C5.52658 6.42671 5.49325 6.51337 5.49325 6.62004C5.49325 6.67337 5.49992 6.72004 5.51325 6.77337C5.53325 6.82671 5.55325 6.86671 5.56659 6.90671C5.68659 7.12671 5.89325 7.41337 6.18658 7.76004C6.48658 8.10671 6.80658 8.46004 7.15325 8.81337C7.51325 9.16671 7.85992 9.49337 8.21325 9.79337C8.55992 10.0867 8.84658 10.2867 9.07325 10.4067C9.10658 10.42 9.14658 10.44 9.19325 10.46C9.24658 10.48 9.29992 10.4867 9.35992 10.4867C9.47325 10.4867 9.55992 10.4467 9.63325 10.3734L10.1399 9.87337C10.3066 9.70671 10.4666 9.58004 10.6199 9.50004C10.7733 9.40671 10.9266 9.36004 11.0933 9.36004C11.2199 9.36004 11.3533 9.38671 11.4999 9.44671C11.6466 9.50671 11.7999 9.59337 11.9666 9.70671L14.1733 11.2734C14.3466 11.3934 14.4666 11.5334 14.5399 11.7C14.6066 11.8667 14.6466 12.0334 14.6466 12.22Z" stroke="#364A46" stroke-width="1.5" stroke-miterlimit="10")
    path(d="M13.3333 2.66675H10.1333M13.3333 2.66675V5.86675V2.66675Z" stroke="#364A46" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
mixin breadcrumb
  svg(width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg")
    path(d="M4.7533 3.7933L10.0866 3.7933C11.9266 3.7933 13.42 5.28663 13.42 7.12663C13.42 8.96663 11.9266 10.46 10.0866 10.46H2.7533" stroke="#364A46" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round")
    path(d="M4.28662 8.79333L2.57996 10.5L4.28662 12.2067" stroke="#364A46" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")

